html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  --flicker-mode: 0;
}

#space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 25vh;
  padding-bottom: 15vh;
  /* https://www.color-hex.com/color-palette/70273 */
  background: #040c24;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  --img-flickering-state: 0;
  animation-name: flickering;
  animation-duration: 0.2s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;

  --opacity-img1: calc(
    var(--img-flickering-state) * (1 - var(--flicker-mode)) + var(--flicker-mode)
  );
  --opacity-img2: calc((1 - var(--img-flickering-state)) * (1 - var(--flicker-mode)));
}

@keyframes flickering {
  from,
  to {
    --img-flickering-state: 0;
  }

  50% {
    --img-flickering-state: 1;
  }
}

.spacer {
  flex: 1;
}

/* TYPEWRITER */
#typewriter {
  position: relative;
  width: 90vw;
  max-width: 40rem;
  min-height: 3rem;
}

#typewriter-content {
  text-align: center;
  word-wrap: break-word;
  font-size: 1.2rem;
}

@media screen and (min-width: 500px) {
  #typewriter-content {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  #typewriter-content {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1500px) {
  #typewriter-content {
    font-size: 2.2rem;
  }
}

#typewriter-content span {
  border-right: 0.2rem solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* STARS */
#stars {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#star1 {
  top: 10%;
  left: 10%;
}

#star2 {
  top: 70%;
  left: 70%;
}

#star3 {
  top: 48%;
  left: 35%;
}

#star4 {
  top: 8%;
  left: 80%;
}

#star5 {
  top: 80%;
  left: 30%;
}

#star6 {
  top: 50%;
  left: 82%;
}

#star7 {
  top: 50%;
  left: 15%;
}

#star8 {
  top: 5%;
  left: 45%;
}

#star9 {
  top: 85%;
  left: 12%;
}

.star {
  position: absolute;
}

.star-img1 {
  position: relative;
  top: 0;
  left: 0;
  opacity: var(--opacity-img1);
}

.star-img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: var(--opacity-img2);
}

.star-img1,
.star-img2 {
  filter: invert(1) opacity(0.9) drop-shadow(0 0 0.5rem white);
  max-width: 10vw;
  max-height: 5vh;
}

/* ROTATING ME */
#me {
  position: relative;
  top: 0;
  left: 0;
  animation-name: rotation;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}

.me-img1 {
  position: relative;
  top: 0;
  left: 0;
  opacity: var(--opacity-img1);
}

.me-img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: var(--opacity-img2);
}

.me-img1,
.me-img2 {
  filter: invert(73%) sepia(13%) saturate(451%) hue-rotate(187deg) brightness(89%) contrast(86%)
    drop-shadow(0 0 0.5rem black);
  max-width: 40vw;
  max-height: 30vh;
}

/* FLICKER MODE BUTTON */
#flicker-mode-cb {
  display: none;
}

#flicker-mode-cb + #space {
  --flicker-mode: 0;
}

#flicker-mode-cb:checked + #space {
  --flicker-mode: 1;
}

#flicker-mode-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
}

#flicker-mode-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.flicker-mode-off-img,
.flicker-mode-on-img {
  filter: invert(1) opacity(1) drop-shadow(0 0 0.5rem black);
  width: 4rem;
  height: 4rem;
}

.flicker-mode-off-img {
  width: calc(4rem * (1 - var(--flicker-mode)));
}
.flicker-mode-on-img {
  width: calc(4rem * (var(--flicker-mode)));
}
